body{
    font-family: 'Libre Baskerville', serif;
    margin: 0;
}
h1{
    font-size: 45px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
}
.half-width img {
    width: 80%;
}
.bio{
   text-align: justify;
}
.pddng{
    padding-left: 20px;
}
.pddng2 {
    padding-left: 80px;
}
.link-button{
        text-decoration: none;
        background-image: linear-gradient(orange,orangered);
        color: white;
        font-weight: bolder;
        padding: 10px 40px;
        border-radius: 10px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.box-shadow{
    box-shadow: 10px 10px 30px grey;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 20px;
    
}
h2{
    font-size: 35px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#web-dev-exp{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#graphic-designer{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, orangered, orange);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}